
{% extends 'base.html.twig' %}


{% block main %}

    <div class="panel panel-info">
    <div class="panel-heading">Edit Post</div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
